<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %>
<ul class="users">
    <%= render @users %>
    <%#  @users変数をRailsはユーザーオブジェクトのリストとして認識する。さらに、renderメソッドに渡すことで、それを一覧させるuserパーシャルを自動で探すようになる %>
    <%#  よって render @usersと書くことでシンプルなロジックが完成する。 %>
</ul>
<%= will_paginate %>